html {
  display: table;
  margin: auto;
  font-family: "Comic Sans MS", "Comic Sans";
  //Thank you Cole
}
body {
  background-color: #154c79;
  color: #FFFFFF;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
img {
  border-style: inset;
  border-color: #f7f499;
}
a:link {color: #a2c9fc;}
a:visited {color: #efa2fc;}
